.email-marketing-container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 48px 20px;
    box-sizing: border-box;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .main-heading {
    font-family: "Poppins", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 56px;
    /* line-height: 88px; */
  }
  
  .gradient-text {
    color: #F6470e;
  }
  
  .subheading {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(87, 87, 87);
    font-size: 17px;
    line-height: 22px;
  }
  
  .image-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .laptop-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .laptop-image:hover{
    transform: scale(1.04);
    cursor: pointer;
    box-shadow: 0px 8px 20px rgba(11, 11, 11, 0.3); 
  }
  /* Responsive styles */
  @media (max-width: 768px) {
    .main-heading {
      font-size: 48px;
      line-height: 56px;
    }
  
    .subheading {
      font-size: 16px;
      margin-bottom: 36px;
    }
  }
  
   @media (max-width: 480px) {
  
    .email-marketing-container {
      padding: 16px 16px;
    }
  }
  
  